<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link rel="stylesheet" href="../stylesheets/pygment_trac.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header class="menu">
	<ul>
		<li><a href="../index.html"><strong>emk</strong></a></li>
		<li><a href="../tutorial.html">Tutorial</a></li>
		<li><a href="../manual.html">Manual</a></li>
		<li><span class="heading">Modules:</span></li>
		<ul>
			<li><a href="c.html">C</a></li>
			<li><a href="link.html">Link</a></li>
			<li><a href="java.html">Java</a></li>
			<li><a href="utils.html">Utils</a></li>
		</ul>
	</ul>
</header>
<header class="floater">
	<span class="floaterbox">
  	<strong>Download emk:</strong>
		<a class="download" href="https://github.com/kmackay/emk/zipball/master">.zip</a>
		<a class="download" href="https://github.com/kmackay/emk/tarball/master">.tar.gz</a>
		<small><a href="https://github.com/kmackay/emk">View On <strong>GitHub</strong></small></a>
	</span>
</header>
<section>
	{{ content }}
</section>
<footer>
	<p>This project is maintained by <a href="https://github.com/kmackay">kmackay</a></p>
	<p><small>Hosted on GitHub Pages</small></p>
</footer>
<script src="../javascripts/scale.fix.js"></script>
</body>
</html>
